body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin, .bottom-form-block, .top-form-block {
    max-width: 630px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin {
    background: white;
    padding-top: 5px;
}
.top-form-block {
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
}
.bottom-form-block {
    border-top: 1px solid #eeeeee;
    text-align: center;
    background: #ffffff;
    padding: 25px 15px;
}
.form-signin-heading {
    text-align: center;
    padding-bottom: 10px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}